# Ignore node_modules
node_modules


# Ignore local logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore Docker artifacts if any
Dockerfile
docker-compose.yml

# Ignore Git stuff
.git
.gitignore

# Ignore system files
.DS_Store
Thumbs.db
